body {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

.book-list {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.books-record {
  align-self: center;
  width: 100%;
  border: 2px solid #000;
  border-spacing: 0;
}

.table-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: #d3d3d3;
}

hr {
  border: 1px solid #000;
  width: 25%;
}

.add-book {
  display: none;
}

.bookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 50%;
}

.btnSubmit {
  text-align: right;
}

input {
  width: 97%;
  padding: 5px;
  border: 2px solid #000;
}

.remove-bttn {
  border: 2px solid #000;
  padding: 5px;
}

#addButton {
  border: 2px solid #000;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-info {
  display: none;
  flex-direction: column;
  align-items: center;
}

article {
  text-align: left;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  border: 2px solid #000;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #000;
}

.hide {
  display: none;
}

footer {
  border: 2px solid #000;
  padding: 5px;
  margin-top: 5%;
}

.date {
  display: flex;
  justify-content: flex-end;
}

#list {
  font-weight: bold;
  color: #1b628b;
}
